h3{
  text-align:start;
  margin-left: 100px;
  margin-top: 100px;
  /* width: 100%; */
  font-size: 50px;
  font-weight: 700;
  color: #175ca6;
  position: relative;
}

h3::before,
h3::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 3px;
    background-color: #757778;
    bottom: 0;
    top: 72px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
h3::before {
  transform-origin: left;
}

h3::after {
  transform-origin: right;
}

h3:hover::before,
h3:hover::after {
  transform: scaleX(1);
}