/* Container styles */
.container {
    width: 87%;
    height:200px;
    margin: 0 auto;
  }
  
  /* Carousel styles */
  .carousel {
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  
  /* Slide styles */
  .slide {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width:100%;
    /* background-position: center; */
    /* background-size: cover; */
    height:400px;
    /* height: auto; */
  }
  
  /* Navigation button styles */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  